.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  text-transform: uppercase;
  color: #fff;
}

.shuffle button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.shuffle button:disabled {
  pointer-events: none;
  background-color: #ddd;
  color: #fff;
  cursor: default;
}

.show-result {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
}

.flag {
  margin: 20px 0;
}

.result {
  font-size: 24px;
  margin: 50px 0;
  font-weight: bold;
  text-transform: uppercase;
}
